<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rock, Paper Scissors!</title>
    <link href="https://fonts.googleapis.com/css?family=Francois+One" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1> Rock, Paper, Scissors </h1>
    <i id="rock" class="fa fa-hand-rock-o"></i>
    <i id="paper" class="fa fa-hand-paper-o"></i>
    <i id="scissors" class="fa fa-hand-scissors-o"></i>
    <div class="gamebox">
      <%= yield %>
    </div>
    <footer>
    <a href="../">Reminder of how to Play</a>
  </footer>
  </body>
</html>
